@charset "ISO-8859-1";

form{
	background:#FFE4E1;
}
filedset{
	color:#DC143C;
}
legend {
    font-weight: bold;
    color: blue;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}
.requis{
	
	color:red;
}


.erreurs{
	
	color:red;
}
.succes {
    color: #090;
}

.erreur{
	color:red;
}

